.scan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

.scan-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.scan-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
  flex: 1;
  min-width: 400px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.scan-input:focus {
  border-color: #75bdb3;
  box-shadow: 0 0 6px #65a298;
}

.scan-button {
  padding: 12px 12px;
  background-color: #65a298;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
	font-size: 13px;
	font-weight: 600;
}

.scan-button:hover {
  background-color: #75bdb3;
}

.scan-error {
  height: 20px;
  color: #d85c5c;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.scan-error:not(:empty) {
  opacity: 1;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #65a298;
  color: #65a298;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-button.active {
  background-color: #65a298;
  color: #fff;
  border-color: #65a298;
}

.toggle-button:hover:not(.active) {
  background-color: #f0f0f0;
}